<!DOCTYPE html>
<!-- Author: Mana Muchaku
Date: Oct 1st 2016
Purpose: WHACK Team 3
Filename: home.html
-->


<html lang="en">
  <head>
    <meta charset="utf-8">      
    <title>Home</title>
    <!-- <link href="project.css" rel="stylesheet">   -->
    <link href='http://fonts.googleapis.com/css?family=Bad+Script' rel='stylesheet' type='text/css'>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="rollOverMenu.js"></script> 
  </head>
     
  <body>      
     <p><a href="signup.html">Sign up here!</a></p>
   
    
     </br>
      
     <p> Please login from below </p>
     <form>
      <label for="">Username   </label><input type="text" /><br />
      <label for="">Password   </label><input type="text" /><br />
      <input type="submit" value="Submit" />
     </form>
    
    <hr>

  </body>
</html>

  