{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<h1>Build Healthy Habits</h1>
<p>Habitree is a fun platform to help college students to lead healthier, happier lives.</p>
<p>Simply tell the site what habits you're working on, and each day you make progress you'll earn a leaf for your Habit Tree.</p>
<p>Over time, you'll be able to marvel at the beautiful forest you've built through your committment to healthy habits.</p>

<br />
<center>
  <!-- yes, i just used a center tag. time is running out, and i can no longer care -->
  <a href="signup" class="cta">Sign Up</a>
  <p>(Already have an account? Log in below.)</p>
</center>
<br />
<form action="http://localhost:5000/result" method="POST">
  <label for="username">Username:</label><input type="text" name="username" id="username" /><br />
  <label for="password">Password:</label><input type="password" name="password" id="password" /><br />
  <input type="submit" value="Log In" />
</form>
{% endblock %}

