{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<h1>Compelling Page Title</h1>
<p>This is some example text that has something to do with our website. It's an example of some stuff that might explain what this site is all about.</p>
<p>This is a slightly shorter paragraph also explaining some stuff.</p>
<a href="signup">Sign Up</a>
<p>(Already have an account? Log in below.)</p>
<br />
<form action="http://localhost:5000/result" method="POST">
  <label for="username">Username:</label><input type="text" name="username" id="username" /><br />
  <label for="password">Password:</label><input type="password" name="password" id="password" /><br />
  <input type="submit" value="Log In" />
</form>

{%for goal in goals%}
{{goal}}
{%endfor%}
{% endblock %}



