{% extends "layout.html" %}
{% block title %}Your Goals{% endblock %}
{% block content %}

<!-- delete these examples and pull data from database -->

<h1>Current Goals</h1>

<div id="goals">
  <div class="goal">
    <h1 class="goal-quantity">3<span class="goal-units">ounces of water</span></h1>
    <div class="goal-commands">
      <span class="goal-edit"><i class="fa fa-pencil" aria-hidden="true"></i></span>
      <a class="cta" href="#">Complete</a>
      <span class="goal-remove"><i class="fa fa-trash" aria-hidden="true"></i></span>
    </div>
  </div>

  <div class="goal">
    <h1 class="goal-quantity">127<span class="goal-units">miles of running</span></h1>
    <div class="goal-commands">
      <span class="goal-edit"><i class="fa fa-pencil" aria-hidden="true"></i></span>
      <a class="cta" href="#">Complete</a>
      <span class="goal-remove"><i class="fa fa-trash" aria-hidden="true"></i></span>
    </div>
  </div>

  <div class="goal">
    <h1 class="goal-quantity">46<span class="goal-units">apples consumed</span></h1>
    <div class="goal-commands">
      <span class="goal-edit"><i class="fa fa-pencil" aria-hidden="true"></i></span>
      <a class="cta" href="#">Complete</a>
      <span class="goal-remove"><i class="fa fa-trash" aria-hidden="true"></i></span>
    </div>
  </div>

  <div class="goal">
    <h1 class="goal-quantity">127<span class="goal-units">miles of running</span></h1>
    <div class="goal-commands">
      <span class="goal-edit"><i class="fa fa-pencil" aria-hidden="true"></i></span>
      <a class="cta" href="#">Complete</a>
      <span class="goal-remove"><i class="fa fa-trash" aria-hidden="true"></i></span>
    </div>
  </div>

  <div class="goal">
    <h1 class="goal-quantity">3<span class="goal-units">ounces of water</span></h1>
    <div class="goal-commands">
      <span class="goal-edit"><i class="fa fa-pencil" aria-hidden="true"></i></span>
      <a class="cta" href="#">Complete</a>
      <span class="goal-remove"><i class="fa fa-trash" aria-hidden="true"></i></span>
    </div>
  </div>

<div class="goal">
  <h1 class="goal-quantity">46<span class="goal-units">apples consumed</span></h1>
  <div class="goal-commands">
    <span class="goal-edit"><i class="fa fa-pencil" aria-hidden="true"></i></span>
    <a class="cta" href="#">Complete</a>
    <span class="goal-remove"><i class="fa fa-trash" aria-hidden="true"></i></span>
  </div>
  </div>
</div>

<br /><br />
<h1>Add a Goal</h1>

<form action="" method="POST">
  <label for="quantity">Quantity: </label><input type="number" name="quantity" />
  <input type="submit" value="Add Goal" />
</form>

{% endblock %}
