{% extends "layout.html" %}
{% block title %}Your Goals{% endblock %}
{% block content %}

<!-- delete these examples and pull data from database -->

<h1>Current Goals</h1>

<div id="goals">
  <div class="goal goal-complete">
    <h1 class="goal-quantity">3<span class="goal-units">ounces of water</span></h1>
    <div class="goal-commands">
      <a class="cta" href="#">Complete</a>
    </div>
  </div>

  <div class="goal">
    <h1 class="goal-quantity">127<span class="goal-units">miles of running</span></h1>
    <div class="goal-commands">
      <a class="cta" href="#">Complete</a>
    </div>
  </div>

  <div class="goal">
    <h1 class="goal-quantity">46<span class="goal-units">apples consumed</span></h1>
    <div class="goal-commands">
      <a class="cta" href="#">Complete</a>
    </div>
  </div>

  <div class="goal">
    <h1 class="goal-quantity">127<span class="goal-units">miles of running</span></h1>
    <div class="goal-commands">
      <a class="cta" href="#">Complete</a>
    </div>
  </div>

  <div class="goal">
    <h1 class="goal-quantity">3<span class="goal-units">ounces of water</span></h1>
    <div class="goal-commands">
      <a class="cta" href="#">Complete</a>
    </div>
  </div>

<div class="goal">
  <h1 class="goal-quantity">46<span class="goal-units">apples consumed</span></h1>
  <div class="goal-commands">
    <a class="cta" href="#">Complete</a>
  </div>
  </div>
</div>

<br /><br />
<h1>Edit Your Goals</h1>

<form action="" method="POST">
  <label for="sleep">Sleep (hours):</label><input id="sleep" name="sleep" type="number" /><br />
  <label for="exercise">Exercise (minutes):</label><input id="exercise" name="exercise" type="number" /><br />
  <label for="water">Water (cups):</label><input id="water" name="water" type="number" /><br />
  <label for="protein">Protein (servings):</label><input id="protein" name="protein" type="number" /><br />
  <label for="fruit">Fruit (servings):</label><input id="fruit" name="fruit" type="number" /><br />
  <label for="veggies">Veggies (servings):</label><input id="veggies" name="veggies" type="number" /><br />
  <input type="submit" value="Update Goals" />
</form>

{% endblock %}
