<!DOCTYPE html>
<!-- Author: Mana Muchaku
Date: Oct 1st 2016
Purpose: WHACK Team 3
Filename: signup.html
-->


<html lang="en">
  <head>
    <meta charset="utf-8">      
    <title>Sign up!</title>
    <!-- <link href="project.css" rel="stylesheet">   -->
    <link href='http://fonts.googleapis.com/css?family=Bad+Script' rel='stylesheet' type='text/css'>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="rollOverMenu.js"></script> 
  </head>
    
  <main>
    <div id="basicinfo">
    <h1>Page Header</h1>
    <p>This is some example text that has something to do with our website. It's an example of some stuff that might explain what this site is all about.</p>
    <p>This is a slightly shorter paragraph also explaining some stuff.</p>
    <form>
      <label for="">Username   </label><input type="text" /><br/>
      <label for="">Password   </label><input type="text" /><br/>
      <input type="submit" value="Submit" />
    </form>
    </div>
    
    </br>
    </br>
    
    <div id="goals">
    <form>
      <label for="">Sleep    </label><input type="number" />
      <label for="">Unit     </label><input type="text" /><br/>
      <label for="">Exercise </label><input type="number" />
      <label for="">Unit     </label><input type="text" /><br/>
      <label for="">Water    </label><input type="number" />
      <label for="">Unit     </label><input type="text" /><br/>
      <label for="">Protein  </label><input type="number" />
      <label for="">Unit     </label><input type="text" /><br/>
      <label for="">Fruit    </label><input type="number" />
      <label for="">Unit     </label><input type="text" /><br/>
      <input type="submit" value="Set" />
    </form>
    </div>
    
    

    
  	</main>
      
    <hr>
    
  	<!--#include virtual="footer.part" -->
  </body>
</html>

  