{% extends "layout.html" %}
{% block title %}Sign Up{% endblock %}
{% block content %}

    <h1>Sign Up</h1>
    <form action="" method="POST">
      <label for="username">Username:</label><input type="text" name="username" id="username" /><br />
      <label for="password">Password:</label><input type="text" name="password" id="password" /><br />
      <input type="submit" value="Test Button" />
    </form>

    <!--
    <div id="goals">
    <form>
      <label for="">Sleep    </label><input type="number" />
      <label for="">Unit     </label><input type="text" /><br/>
      <label for="">Exercise </label><input type="number" />
      <label for="">Unit     </label><input type="text" /><br/>
      <label for="">Water    </label><input type="number" />
      <label for="">Unit     </label><input type="text" /><br/>
      <label for="">Protein  </label><input type="number" />
      <label for="">Unit     </label><input type="text" /><br/>
      <label for="">Fruit    </label><input type="number" />
      <label for="">Unit     </label><input type="text" /><br/>
      <input type="submit" value="Set" />
    </form>
    </div>
  -->
{% endblock %}
